#button {
  background-color: greenyellow;
  outline: none;
  border-radius: 10%;
  border: none;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}
.linkButton-text {
  align-self: left;
  padding: 8px;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  margin: 5px 2px;
}

.linkButton-text:hover {
  color: blue;
  background-color: #ddd;
}
