.components-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: center;
  padding: 5px;
}
.component-card {
  margin: 5px;
  min-width: 250px;
}
