.wrapper-main-container {
  display: grid !important;
  grid-template-columns: 20% 80% !important;
  overflow: auto;
  min-height: 100vh;
}

.sidebar {
  /* width: 20%; */
  background-color: #f0f0f0;
}

.children {
  /* width: 80%;
  flex: 1; */
  background-color: #ffffff;
  padding: 0px 10px;
}
