.sidebar-container {
  position: fixed;
  left: 0;
  width: 250px;
  background-color: #f0f0f0;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: content-box;
  overflow: scroll;
}
.sidebar-container::-webkit-scrollbar {
  width: 0 !important;
}
